.hidden {
  display: none !important;
}
.kopaCcPaymentInput.optionalNewCcInputs {
  display: none;
}
.checkout .input-text.error {
  border-color: #ca1919;
}
#overflowKopaLoader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
#kopaLoaderIcon {
  width: 100px;
  height: 100px;
  background: url(../images/ajax_loader.gif) center center no-repeat;
  background-size: contain;
}

.kopaCheckoutRadioButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 1.5;
  margin-bottom: 8px;
}

.kopaCheckoutRadioButton label {
  margin: 0px 0px 0px 5px;
}

#kopaPaymentIconsWrapper {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}

#kopaPaymentIcons {
  margin: 15px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 10px;
  gap: 10px;
}

.woocommerce-checkout #payment .payment_box.payment_method_kopa_payment div#kopaPaymentIcons img,
#kopaPaymentIcons img 
{
  max-height: 50px;
  width: auto;
}

div#kopaPaymentIcons.securityLogosRow img {
  max-height: 80px;
}

.kopaPciDssIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kopaPciDssIcon img {
  width: auto;
  max-height: 90px !important;
}

#place_order.disabled {
  cursor: no-drop;
  pointer-events: none;
}